.App {
  min-height: 100vh;
  background-color: #e0e5ec;
}

.sticky-div {
  background-color: #e0e5ec;
  height: 50px;
  height: 150px;
  position: fixed;
  width: 100vw;
  top: 0;
  box-shadow: 1px 3px 15px rgb(180, 180, 180);
  padding: 20px;
}
.header {
  text-align: center;
  color: black;
  margin-bottom: 5px;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  height: 50px;
  width: 500px;
  background-color: aliceblue;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 36px;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  color: #4d3252;
  padding: 10px;
}

.search-bar::placeholder {
  color: rgb(202, 181, 181);
  font-size: 18px;
  margin: 20px;
}

.search-button {
  height: 50px;
  width: 200px;
  outline: none;
  font-size: 26px;
  background-color: #e0e5ec;
  border: none;
  border-radius: 6px;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  color: #4d3252;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
}
